Node-red/.flows.json.backup
[
    {
        "id": "508bfdfd6e350e6a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c6adcf262d7df0e2",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "CA_cert.cert",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "8e91f29796d3acfe",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "40c06ef97ec5427eb54aa49e5c03c12c.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "c6adcf262d7df0e2",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4065fc3ce7257f26",
        "type": "MySQLdatabase",
        "name": "ELEC520 Database",
        "host": "192.168.1.226",
        "port": "3306",
        "db": "ELEC520_database",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "af50c569c0c72b63",
        "type": "debug",
        "z": "508bfdfd6e350e6a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "b0ea8ef7c5672ef9",
        "type": "function",
        "z": "508bfdfd6e350e6a",
        "name": "function 2",
        "func": "msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "af50c569c0c72b63"
            ]
        ]
    },
    {
        "id": "248f4ed60a5f2f6b",
        "type": "mqtt in",
        "z": "508bfdfd6e350e6a",
        "name": "",
        "topic": "esp32/test",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8e91f29796d3acfe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "b0ea8ef7c5672ef9"
            ]
        ]
    },
    {
        "id": "6c72b712f0822f0b",
        "type": "mysql",
        "z": "508bfdfd6e350e6a",
        "mydb": "4065fc3ce7257f26",
        "name": "Elec520 DB",
        "x": 470,
        "y": 560,
        "wires": [
            [
                "1e8caae564e51d2a"
            ]
        ]
    },
    {
        "id": "af8a1148aafa94e2",
        "type": "mqtt in",
        "z": "508bfdfd6e350e6a",
        "name": "",
        "topic": "ELEC520/users/view",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8e91f29796d3acfe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 560,
        "wires": [
            [
                "7d6296b04c45ea31"
            ]
        ]
    },
    {
        "id": "7d6296b04c45ea31",
        "type": "function",
        "z": "508bfdfd6e350e6a",
        "name": "function 7",
        "func": "msg.topic = 'SELECT * FROM users;';\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 560,
        "wires": [
            [
                "6c72b712f0822f0b"
            ]
        ]
    },
    {
        "id": "1e8caae564e51d2a",
        "type": "function",
        "z": "508bfdfd6e350e6a",
        "name": "function 8",
        "func": "// Check if msg.payload contains an array of user data\nif (Array.isArray(msg.payload)) {\n    // Create an array to store each individual message\n    const messages = [];\n\n    // Loop through the results and format each as 'user:password'\n    msg.payload.forEach(row => {\n        const formattedPayload = `${row.username}:${row.password}`;\n\n        // Push each formatted message as a new object in the array\n        messages.push({ payload: formattedPayload });\n    });\n\n    // Return the array of messages, one for each user credential\n    return [messages];\n}\n\n// If msg.payload is not an array, return it as is\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 560,
        "wires": [
            [
                "41f6bdbc2860ba09"
            ]
        ]
    },
    {
        "id": "0d2b572b07bed7d7",
        "type": "mqtt in",
        "z": "508bfdfd6e350e6a",
        "name": "",
        "topic": "ELEC520/devices/view",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8e91f29796d3acfe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 640,
        "wires": [
            [
                "42ee326f56b265f1"
            ]
        ]
    },
    {
        "id": "42ee326f56b265f1",
        "type": "function",
        "z": "508bfdfd6e350e6a",
        "name": "function 4",
        "func": "const deviceType = msg.payload; // Get device type from the MQTT payload\n\n// SQL query to count the number of entries for the given device type\nmsg.topic = `SELECT COUNT(*) AS count FROM devices WHERE device_type = ?`;\nmsg.payload = [deviceType]; // Prepared statement format for MySQL\nmsg.deviceType = deviceType;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 640,
        "wires": [
            [
                "188b575a530e2108"
            ]
        ]
    },
    {
        "id": "188b575a530e2108",
        "type": "mysql",
        "z": "508bfdfd6e350e6a",
        "mydb": "4065fc3ce7257f26",
        "name": "Elec520 DB",
        "x": 450,
        "y": 700,
        "wires": [
            [
                "d238f8ea27419c40"
            ]
        ]
    },
    {
        "id": "d238f8ea27419c40",
        "type": "function",
        "z": "508bfdfd6e350e6a",
        "name": "function 9",
        "func": "const deviceType = msg.deviceType; // The original device type from the MQTT input\nconst count = msg.payload[0].count; // Extract count from the SQL result payload\n\n// Increment the count for the new device\nconst newCount = count + 1;\n\n// Create the new device ID in the format DeviceTypeNo, e.g., Gate1\nconst newDeviceID = `${deviceType}${newCount}`;\nmsg.topic = `INSERT INTO devices (device_type, deviceID) VALUES (?, ?)`;\nmsg.payload = [deviceType, newDeviceID]; // Pass parameters as an array for prepared statements\n\n// Save the new device ID in msg.newDeviceID for the next step\nmsg.newDeviceID = newDeviceID;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 640,
        "wires": [
            [
                "44b43098527839c1",
                "f268a7e4dece6d64"
            ]
        ]
    },
    {
        "id": "f268a7e4dece6d64",
        "type": "function",
        "z": "508bfdfd6e350e6a",
        "name": "function 10",
        "func": "msg.topic = 'ELEC520/devices/update';\n\nconst deviceID = msg.newDeviceID; \nmsg.payload = deviceID; // Use the new device ID created in the previous function\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 720,
        "wires": [
            [
                "c2320afcfc22378e"
            ]
        ]
    },
    {
        "id": "c2320afcfc22378e",
        "type": "mqtt out",
        "z": "508bfdfd6e350e6a",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8e91f29796d3acfe",
        "x": 910,
        "y": 720,
        "wires": []
    },
    {
        "id": "41f6bdbc2860ba09",
        "type": "mqtt out",
        "z": "508bfdfd6e350e6a",
        "name": "",
        "topic": "ELEC520/users/update",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8e91f29796d3acfe",
        "x": 870,
        "y": 560,
        "wires": []
    },
    {
        "id": "44b43098527839c1",
        "type": "mysql",
        "z": "508bfdfd6e350e6a",
        "mydb": "4065fc3ce7257f26",
        "name": "Elec520 DB",
        "x": 830,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "0c015fd93053df7b",
        "type": "mqtt in",
        "z": "508bfdfd6e350e6a",
        "name": "",
        "topic": "ELEC520/users/add",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8e91f29796d3acfe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 800,
        "wires": [
            [
                "802fc2724e2313ef"
            ]
        ]
    },
    {
        "id": "802fc2724e2313ef",
        "type": "function",
        "z": "508bfdfd6e350e6a",
        "name": "function 11",
        "func": "// Assuming the message payload is in the format 'newUser:190304'\nconst message = msg.payload;\n\n// Split the message at the colon to separate the username and password\nconst parts = message.split(':');\nconst username = parts[0];\nconst password = parts[1];\n\n// Create an SQL query to insert the username and password into the 'users' table\nmsg.topic = \"INSERT INTO users (username, password) VALUES (?, ?);\";\nmsg.payload = [username, password];\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 800,
        "wires": [
            [
                "71484187febfc645"
            ]
        ]
    },
    {
        "id": "71484187febfc645",
        "type": "mysql",
        "z": "508bfdfd6e350e6a",
        "mydb": "4065fc3ce7257f26",
        "name": "Elec520 DB",
        "x": 490,
        "y": 800,
        "wires": [
            [
                "bef93e507b5db035"
            ]
        ]
    },
    {
        "id": "bef93e507b5db035",
        "type": "function",
        "z": "508bfdfd6e350e6a",
        "name": "function 12",
        "func": "msg.payload = msg.newEntry;\nmsg.topic = \"ELEC520/users/database\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 800,
        "wires": [
            [
                "c2c8d7de70ce9080"
            ]
        ]
    },
    {
        "id": "c2c8d7de70ce9080",
        "type": "mqtt out",
        "z": "508bfdfd6e350e6a",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8e91f29796d3acfe",
        "x": 830,
        "y": 800,
        "wires": []
    },
    {
        "id": "d2c4f1f46a605fda",
        "type": "mqtt in",
        "z": "508bfdfd6e350e6a",
        "name": "",
        "topic": "ELEC520/#",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8e91f29796d3acfe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "b546d31715e99b4d",
        "type": "function",
        "z": "508bfdfd6e350e6a",
        "name": "function 13",
        "func": "const topic = msg.topic;\nconst payload = msg.payload; \n\nmsg.topic = topic;\nmsg.payload = payload;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "163f6993a64a2e45",
        "type": "mqtt out",
        "z": "508bfdfd6e350e6a",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8e91f29796d3acfe",
        "x": 510,
        "y": 900,
        "wires": []
    }
]